<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.principal.factura"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:icon="@drawable/estrella2"
        android:label="@string/app_names"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <service android:name="net.posprinter.service.PosprinterService" />




        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"></activity>
        <activity
            android:name=".PrincipalActivity"
            android:label="@string/title_activity_principal"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FechasActivity"
            android:label="@string/title_activity_fechas"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminPedidosActivity"
            android:label="@string/title_activity_admin_pedidos"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CrearPedidoActivity"
            android:label="@string/title_activity_crear_pedido"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ModificarPedidoActivity"
            android:label="@string/title_activity_modificar_pedido"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConsultarPedidoActivity"
            android:label="@string/title_activity_consultar_pedido"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaPedidosActivity"
            android:label="@string/title_activity_lista_pedidos"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaClientesActivity"
            android:label="@string/title_activity_lista_clientes"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerProductosActivity"
            android:label="@string/title_activity_ver_productos"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RuteroActivity"
            android:label="@string/title_activity_rutero"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemArticuloPedidoActivity"
            android:label="@string/title_activity_item_articulo_pedido"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaArticulosPedidoActivity"
            android:label="@string/title_activity_lista_articulos_pedido"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemPedidoActivity"
            android:label="@string/title_activity_item_pedido"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemVerProductosActivity"
            android:label="@string/title_activity_item_ver_productos"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DatosClienteActivity"
            android:label="@string/title_activity_datos_cliente"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ParametrosActivity"
            android:label="@string/title_activity_parametros"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfiguracionActivity"
            android:label="@string/title_activity_configuracion"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerResultadosActivity"
            android:label="@string/title_activity_ver_resultados"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemCategoriaResActivity"
            android:label="@string/title_activity_item_categoria_res"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemCategoriaActivity"
            android:label="@string/title_activity_item_categoria"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewProductActivity"
            android:label="@string/title_activity_view_product"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CatalogoActivity"
            android:label="@string/title_activity_catalogo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemCatalogoActivity"
            android:label="@string/title_activity_item_catalogo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CatalogoDetailActivity"
            android:label="@string/title_activity_catalogo_detail"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelecTrasladoBodegaActivity"
            android:label="@string/title_activity_selec_traslado_bodega"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelecFechasActivity"
            android:label="@string/title_activity_selec_fechas"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ZFinancieraActivity"
            android:label="@string/title_activity_zfinanciera"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Select_print_Activity"
            android:label="@string/title_activity_select_print_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelecMesaActivity"
            android:label="@string/title_activity_selec_mesa"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CrearPedioMesaActivity"
            android:label="@string/title_activity_crear_pedio_mesa"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemPedidoMesaActivity"
            android:label="@string/title_activity_item_pedido_mesa"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ButtonPedidoActivity"
            android:label="@string/title_activity_button_pedido"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConsultaClientesActivity"
            android:label="@string/title_activity_consulta_clientes"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemConsultaClientes"
            android:label="@string/title_activity_item_consulta_clientes"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CarteraClienteActivity"
            android:label="@string/title_activity_cartera_cliente"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemFacturasCarteraActivity"
            android:label="@string/title_activity_item_facturas_cartera"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CarteraPagosParcialesActivity"
            android:label="@string/title_activity_cartera_pagos_parciales"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemFacturasCarteraPagosActivity"
            android:label="@string/title_activity_item_facturas_cartera_pagos" />
        <activity
            android:name=".ListaPedidosAlistamiento"
            android:label="@string/title_activity_lista_pedidos_alistamiento" />
        <activity
            android:name=".ItemListaPedidosAlistamiento"
            android:label="@string/title_activity_item_lista_pedidos_alistamiento" />
        <activity
            android:name=".VerConsolidadoAlistameinto"
            android:label="@string/title_activity_ver_consolidado_alistameinto" />
        <activity
            android:name=".ItemConsolidadoAlistamientoActivity"
            android:label="@string/title_activity_item_consolidado_alistamiento" />
        <activity
            android:name=".VerPedidoAlistamientoActivity"
            android:label="@string/title_activity_ver_pedido_alistamiento" />
        <activity
            android:name=".ItemVerPedidoAlistamientoActivity"
            android:label="@string/title_activity_item_ver_pedido_alistamiento" />
        <activity
            android:name=".ObservacionPedidoActivity"
            android:label="@string/title_activity_observacion_pedido" />
        <activity
            android:name=".ItemVendedorRutaActivity"
            android:label="@string/title_activity_item_vendedor_ruta" />
        <activity
            android:name=".AbonoPrestamos"
            android:label="@string/title_activity_abono_prestamos" />
        <activity
            android:name=".ItemLibroActivity"
            android:label="@string/title_activity_item_libro" />
        <activity
            android:name=".CategoriaActivity"
            android:label="@string/title_activity_categoria" />
        <activity
            android:name=".ItemCategoriaSpinnerActivity"
            android:label="@string/title_activity_item_categoria_spinner" />

        <activity
            android:name=".VerCierreTurno"
            android:label="@string/title_activity_ver_cierre_turno"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>